{
  "values": {
    "selection_parameters": ["tribe_size", "edges_per_nodes", "rc_per_edges", "rc_per_nodes"],
    "add_noise": [false, true, true, true],
    "binsize_target": 50,
    "overwrite_existing": false,
    "save_centroids": true
  },
  "paths": {
    "dataframe": "./data/parameters.pkl",
    "noise_files": ["./bins/noise_ts_aspartof_ts_rcpn.npy"],
    "bin_dir": "./bins/"
  }
}
