{
  "values": {
    "selection_parameters": ["ts_rcpn"],
    "feature_parameters": ["asg_low","asg_radius"],
    "num_jobs": [50,50],
    "randomise_vectors": true,
    "check_featurevectors": false,
    "check_dataframes": false,
    "only_featurise": false
  },
  "paths": {
    "json_template": "./templates/template.json",
    "sbatch_template": "./templates/template.sbatch",
    "tridy_dir": "./../TriDy/",
    "bin_dir": "./bins/",
    "parameter_dir": "./parameters/",  
    "config_dir": "./configs/",  
    "sbatch_dir": "./sbatches/",  
    "runfile_dir": "./runfiles/",
    "results_dir": "./results/",
    "dataframe_dir": "./dataframes/"
  }
}
