{
  "selection_parameters": ["ts_nbc"],
  "feature_parameters": ["tribe_size","dc2","dc3"],
  "feature_gaps": ["","",""],
  "json_template": "./templates/template.json",
  "sbatch_template": "./templates/template.sbatch",
  "num_jobs": 16,
  "check_existing": false,
  "bin_dir": "./bins/"
  "export_dir": "./runfiles/"
}
